<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b2c160">  <td>17/04/07 15:47:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TCViewQuestion.Check_Question_Availibility()[pri:0, instance:org.Birlasoft.Testcase.org.Birlasoft.Testcase.TCViewQuestion@51efea79]">Check_Question_Availibility</td> 
  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="b2c160">  <td>17/04/07 15:46:53</td>   <td>-26703</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TCViewQuestion.browserinit()[pri:0, instance:org.Birlasoft.Testcase.org.Birlasoft.Testcase.TCViewQuestion@51efea79]">&gt;&gt;browserinit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="b2c160">  <td>17/04/07 15:47:08</td>   <td>-11668</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TCViewQuestion.click_item_on_sidebar()[pri:0, instance:org.Birlasoft.Testcase.org.Birlasoft.Testcase.TCViewQuestion@51efea79]">click_item_on_sidebar</td> 
  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="b2c160">  <td>17/04/07 15:46:59</td>   <td>-20927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TCViewQuestion.f()[pri:0, instance:org.Birlasoft.Testcase.org.Birlasoft.Testcase.TCViewQuestion@51efea79]">f</td> 
  <td>main@152134087</td>   <td></td> </tr>
</table>
